<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./static/main.css">
    <title>WPD</title>
</head>

<body>
    <h2>Detection Page</h2>
    <form action="/result" method="GET">
        <p>Does The URL have IP Address?</p>
        <input type="radio" name="ip" value="1">Yes<br>
        <input type="radio" name="ip" value="-1" checked>No<br>

        <p>URL Length</p>
        <input type="radio" name="ul" value="1" checked>1<br>
        <input type="radio" name="ul" value="0">0<br>
        <input type="radio" name="ul" value="-1">-1<br>

        <p>Having @ symbol on URL</p>
        <input type="radio" name="at" value="-1">Yes<br>
        <input type="radio" name="at" value="1" checked>No<br>

        <p>Does The URL have preffix suffix?</p>
        <input type="radio" name="ps" value="-1">Yes<br>
        <input type="radio" name="ps" value="1" checked>No<br>

        <p>Does The URL have sub domain?</p>
        <input type="radio" name="sd" value="1">1<br>
        <input type="radio" name="sd" value="0">0<br>
        <input type="radio" name="sd" value="-1" checked>-1<br>

        <p>Does The URL have Https token?</p>
        <input type="radio" name="ht" value="-1">Yes<br>
        <input type="radio" name="ht" value="1" checked>No<br>

        <p>Request URL?</p>
        <input type="radio" name="ru" value="-1">1<br>
        <input type="radio" name="ru" value="1" checked>-1<br>

        <p>URL anchor</p>
        <input type="radio" name="ua" value="1">1<br>
        <input type="radio" name="ua" value="0">0<br>
        <input type="radio" name="ua" value="-1" checked>-1<br>

        <p>SFH</p>
        <input type="radio" name="sfh" value="1">1<br>
        <input type="radio" name="sfh" value="0">0<br>
        <input type="radio" name="sfh" value="-1" checked>-1<br>

        <p>Abnormal URL?</p>
        <input type="radio" name="ab" value="-1">Yes<br>
        <input type="radio" name="ab" value="1" checked>No<br>

        <p>Redirect?</p>
        <input type="radio" name="re" value="0">0<br>
        <input type="radio" name="re" value="1" checked>1<br>

        <p>On mouseover</p>
        <input type="radio" name="mo" value="-1">-1<br>
        <input type="radio" name="mo" value="1" checked>1<br>

        <p>Pop Up Window</p>
        <input type="radio" name="po" value="-1">-1<br>
        <input type="radio" name="po" value="1" checked>1<br>

        <p>Age of Domain</p>
        <input type="radio" name="ad" value="-1">-1<br>
        <input type="radio" name="ad" value="1" checked>1<br>

        <p>DNS record</p>
        <input type="radio" name="dns" value="-1">-1<br>
        <input type="radio" name="dns" value="1" checked>1<br>

        <p>Web traffic</p>
        <input type="radio" name="wt" value="-1">-1<br>
        <input type="radio" name="wt" value="0">0<br>
        <input type="radio" name="wt" value="1" checked>1<br>

        <input type="submit" value="Detect">
    </form>
</body>

</html>